
## Resources allocation
MEM_LIMIT=5g
CPU_LIMIT=5

## Web UI
WUD_PORT=

## Configuration
WUD_CRON=5 * * * *
WUD_LOG_LEVEL=info

## Dockerhub registry
WUD_DOCKERHUB_USER=
WUD_DOCKERHUB_PASS=

## Slack notification
WUD_SLACK_TOKEN=
WUD_SLACK_CHANNEL=notif-appli-dev
WUD_SLACK_TITLE=Serveur
WUD_SLACK_BODY="Container _*$${container.name}*_ mis à jour avec la nouvelle version de l'image _*$${container.image.name}:$${container.image.tag.value}*_\n<http://${HOSTNAME}:${WUD_PORT}/containers|Voir plus>"
