
## Resources allocation
MEM_LIMIT=5g
CPU_LIMIT=5

## Web UI
ABES_WUD_PORT=

## Configuration
ABES_WUD_CRON=5 * * * *
ABES_WUD_LOG_LEVEL=info

## Dockerhub registry
ABES_WUD_DOCKERHUB_USER=
ABES_WUD_DOCKERHUB_PASS=

## Slack notification
ABES_WUD_SLACK_TOKEN=
ABES_WUD_SLACK_CHANNEL=notif-appli-dev
ABES_WUD_SLACK_TITLE=Serveur
ABES_WUD_SLACK_BODY="Container _*$${container.name}*_ mis à jour avec la nouvelle version de l'image _*$${container.image.name}:$${container.image.tag.value}*_\n<http://${HOSTNAME}:${ABES_WUD_PORT}/containers|Voir plus>"
